* {
	padding: 0px;
	margin: 0px;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	line-height: 1;
	font-family: 'Montserrat', sans-serif;
}

ol, ul {
	list-style: none;
}

input::placeholder {
	font-family: 'Montserrat', sans-serif;
}